<div class="userChange">
    <form (ngSubmit)="userChange(user)" #user="ngForm" autocomplete="off">
        <button class="closeForm" (click)="userChangesCloseModale()">x</button>
        <h2>Modification Utilisateur</h2>
        <div *ngFor="let user of usersValidateFilterByUser">
            <div class="inputName">
                <input autocomplete="off" type="text" name="name" minlength="4" maxlength="16" ngModel required>
                <span> {{user.name}} </span>
                <i></i>
            </div>
            <div class="inputPassword">
                <input autocomplete="off" type="password" name="password" ngModel required>
                <span> {{user.password}} </span> 
                <i></i>
            </div>
            <div class="inputMail">
                <input autocomplete="off" type="email" name="mail" ngModel required>
                <span> {{user.mail}} </span> 
                <i></i>
            </div>
            <div class="inputRole">
                <input autocomplete="off" type="text" name="role" ngModel required>
                <span> {{user.role}} </span> 
                <i></i>
            </div>
        </div>
        <div>
            <button class="finalButton" type="submit">Modifier</button>
        </div>
    </form>
</div>

<div class="disableBackground"></div>   