<div class="register">
    <form (ngSubmit)="addUser(user)" #user="ngForm" autocomplete="off">
        <h1 class="title">Inscription</h1>
        <div class="inputBox">
            <input type="text" placeholder=" " id="pseudo" name="name" ngModel required>
            <label for="pseudo">Pseudo</label>
        </div>

        <div class="inputBox">
            <input type="password" placeholder=" " id="password" name="password" ngModel required>
            <label for="password">Mot de passe</label>
        </div>

        <div class="inputBox">
            <input type="password" placeholder=" " id="password2" name="password2" ngModel required>
            <label for="password2">Vérification Mot de passe</label>
        </div>

        <div class="inputBox">
            <input type="email" placeholder=" " id="email" name="mail" ngModel required>
            <label for="email">Adresse Mail</label>
        </div>
        
        <div class="alreadyRegister">
            <a>Déjà inscrit ? </a>
            <a routerLink="/login">Identifie toi !</a>
        </div>
        
        <div class="cgu">
            <p [ngClass]="{'checkBoxCheck' : checkBoxCheck === true,
        'checkBoxDefault' : checkBoxCheck === false,
            'checkBoxNotCheck' : checkboxNotCheck === true && checkBoxCheck === false}">Veuillez accepter les conditions générales d'utilisation (CGU).</p>
            <input class="checkbox" type="checkbox" name="validate" id="checkbox" ngModel required>
        </div>

        <div>
            <button class="but" type="submit">Inscription</button>
        </div>
    </form>
</div>
