.register{
    text-align: center;
    background-color: #1c1c1c;
    width: 380px;
	height: 560px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.body {
	display: flex;
	justify-content: top;
    margin-top: 10%;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

.register::before{
    content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 560px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#e31212,#e31212);
	animation: animating 6s linear infinite;
}

.register::after {
    content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 560px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animating 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animating {
	0%
	{
		transform: rotate(0deg);
	}	
	100% {
		transform: rotate(360deg);
	}
}

form {
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.title{
    color: aqua;
    font-size: x-large;
    overflow: none;
    margin-top: -0.5em;
}

.inputBox{
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    margin: auto;
    margin-top: 1.5em;
}

input, label, button {
    translate: all .3s;
}

label {
    transform: translate(10px , -15px);
    cursor: text;
    transform-origin: left top;
    position: absolute;
    color: aqua;
}

input{
    border-bottom: 2px solid grey;
    padding: 10px;
    color: red;
}

.alreadyRegister{
    display: flex;
    justify-content: space-between;
}

.alreadyRegister a {
	margin: 10px 0;
	margin-top: 2em;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}

.alreadyRegister a:hover, 
.alreadyRegister a:nth-child(2) {
	color: #e31212;
}

.cgu{
    margin-top: 1.5em;
}

.checkbox{
   margin-top: 1.0em; 
   width: 20px;
   height: 20px;
}

.checkBoxCheck {
    color: green;
}

.checkBoxNotCheck {
    color: red;
}

.checkBoxDefault {
    color: white;
}

p, .cgu{
    color: white;
    font-size: small;
}

button {
    border: none;
    padding: 10px 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-color: aqua;
    margin-top: 10px;
}

button:hover{
    border: 4px solid;
    border-image-slice: 1;
    background-color: #e31212;
    color: white;
    border-image-source: linear-gradient(360deg, #743ad5, #d53a9d);
    animation: animates 1s linear infinite;
}

@keyframes animates {

    0% {
        border-image-source: linear-gradient(360deg, #743ad5,#d53a9d, aqua);          
    }
    25%{
        border-image-source: linear-gradient(270deg, #743ad5,#d53a9d, aqua);
    }
    50%{
        border-image-source: linear-gradient(180deg, #743ad5, #d53a9d, aqua);
    }
    75%{
        border-image-source: linear-gradient(90deg, #743ad5,#d53a9d, aqua);
    }
    100%{
        border-image-source: linear-gradient(0deg, #743ad5,#d53a9d, aqua);
    }
}
input::placeholder {
    opacity: 0;
}

input:focus, input:not(:placeholder-shown) {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(360deg, #743ad5, #d53a9d);
    animation: animate 1s linear infinite;
    
}   
@keyframes animate {

    0% {
        border-image-source: linear-gradient(360deg, #743ad5,#d53a9d, aqua);          
    }
    25%{
        border-image-source: linear-gradient(270deg, #743ad5,#d53a9d, aqua);
    }
    50%{
        border-image-source: linear-gradient(180deg, #743ad5, #d53a9d, aqua);
    }
    75%{
        border-image-source: linear-gradient(90deg, #743ad5,#d53a9d, aqua);
    }
    100%{
        border-image-source: linear-gradient(0deg, #743ad5,#d53a9d, aqua);
    }
}

input:not(:placeholder-shown) ~ label, input:focus ~ label {
    transform: translate(10px , -30px) scale(0.8);
}

