<div class="register2">
    <h1 class="titre2">Inscription</h1>

    <div>
        <label for="pseudo2"> Pseudo : </label>
        
        <div>
            <input type="text" placeholder="Pseudo" required="pseudo" name="pseudo">
        </div>
    </div>
       
    <div>

    <label for="password2" class="password2"> Mot de passe : 
        <div>
            <input type="password" placeholder="Mot de passe" required="Mot de passe" name="password">
        </div>
    </label>
           
    </div>

        <label for="password3" class="password2"> Vérification Mot de passe : 
            <div>
                <input type="password" placeholder="Mot de passe" required="Mot de passe" name="password">
            </div>
        </label>
    
    <div>
        <label for="email2"> Adresse email : </label> 
        <div>
            <input type="email" placeholder="Adresse email" required="Adresse email" name="email">
        </div>
    </div>

    <div>
        <button type="submit">Inscription</button>
    </div>

    <p>Déjà inscrit ? 
        <a routerLink="/login2">Connecte toi ici !</a>
    </p>
   
    <div class="reseauxsociaux"> 
        <a href="https://fr-fr.facebook.com/LeagueOfLegendsFROfficial/" target="_blank"><img src="assets\images\Logo 2.png" width="40px" height="40px"></a>
        <a href="https://www.instagram.com/leagueoflegendsfr/?hl=fr" target="_blank"> <img src="assets\images\Logo 3.jpg" width="40px" height="40px" class="instagram"></a>
    </div>
    
</div>    


