<ul class="navbar">
    <div>
        <li>
            <img src="../assets/images/logo.png" class="logo">
        </li>
    </div>
    <div class="but">
        <li><button routerLink="sidebar" type="button">SideBar</button></li>
        <li><button routerLink="homepage" type="button">Accueil</button></li>
        <li><button routerLink="products" type="button">Produits</button></li>
        <li><button routerLink="login" type="button">Se connecter</button></li>
        <li><button routerLink="register" type="button">S'inscrire</button></li>
    </div>
</ul>