<ul class="navbar">
    <div>
        <li>
            <img src="../assets/images/logo.png" class="logo">
        </li>
    </div>
    <div class="but">
        <li><button routerLink="homepage" type="button">Accueil</button></li>
        <li><button routerLink="products" type="button">Produits</button></li>
        <li><button routerLink="login2" type="button">Se connecter2</button></li>
        <li><button routerLink="addProduct" type="button">Ajouter un produit</button></li>
         <li><button routerLink="register3" type="button">S'inscrire3</button></li>
        
    </div>
</ul>