.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
    margin-top: 15px;
    margin-left: 3%;
}

.but {
    margin-top: 15px;
    margin-right: 3%;
}

button {
    margin: 40px;
    background-color: orange;
    border: 2px solid;
    border-color: black;
    border-radius: 30px;
    width: fit-content;
    padding: 20px;
    font-size: 1em;
}