<!-- <div class="navbar">
    <img src="../assets/images/logo.png" class="logo">
    <div class="but">
        <button routerLink="homepage">Accueil</button>
        <button routerLink="products">Produits</button>
        <button routerLink="register">S'inscrire</button>
        <button routerLink="login">Se connecter</button>
    </div>
</div> -->
<ul class="navbar">
    <div>
        <li>
            <img src="../assets/images/logo.png" class="logo">
        </li>
    </div>
    <div class="but">
        <li><button routerLink="homepage" type="button">Accueil</button></li>
        <li><button routerLink="products" type="button">Produits</button></li>
        <li><button routerLink="register" type="button">S'inscrire</button></li>
        <li><button routerLink="login" type="button">Se connecter</button></li>
    </div>
</ul>