<div class="addProduct">
    <form (ngSubmit)="addProduct(product)" #product="ngForm">
        <h2>Ajouter un Champion</h2>
        <div class="inputName">
            <input type="text" name="name" minlength="4" maxlength="16" ngModel required>
            <span> Nom du champion </span>
            <i></i>
        </div>
           
        <div class="inputImage">
            <input type="text" name="image" ngModel required>
            <span> Image </span>
            <i></i>
        </div>

        <div class="inputLore">
            <input type="text" name="lore" size="45" ngModel required>
            <span> Lore </span>
            <i></i>
        </div>
    
        <div class="inputPrice">
            <input type="number" name="price" ngModel required>
            <span> Price </span> 
            <i></i>
        </div>
 
        <div class="inputAvailable">
            <input class="checkbox" type="checkbox" name="available" ngModel required>
            <span> Disponible ? </span>
        </div>
    
        <div class="Select">
            <select [(ngModel)]="ngDropdown" name="type" ngModel required>
                <option value="">Type du Champion</option>
                <option value="Assassin">Assassin</option>
                <option value="Mage">Mage</option>
                <option value="Tireur">Tireur</option>
                <option value="Support">Support</option>
                <option value="Tank">Tank</option>
                <option value="Combattant">Combattant</option>
            </select> 
        </div>
    
        <div>
            <button type="submit">Ajouter ce champion</button>
        </div>

    </form>
</div>   