<div class="generalCard">
    <div class="profilCard">
        <div class="profilPhoto"></div>
        <div class="pseudo"></div>
        <div class="birthdayDate"></div>
        <div class="description"></div>
    </div>
    <div class="informationsProfilCard">
        <div class="nameAndGender">
            <input type="text">Genre
            <input type="text">Nom
            <input type="text">Prénom
            
        </div>
        <div class="adress">
            
        </div>
        <div class="zipCodeAndCity">
            
        </div>
        <div class="mail">
            
        </div>
        <div class="phoneNumerAndChangePassword">
            
        </div>
    </div>    
</div>
