.generalCard{
    background-color: brown;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2em;
    margin-left: 2em;
}

.profilCard{
    background-color: aqua;
    text-align: left;
    width: 25%;
    height: 100%;
    display: block;
    padding: 2em;
}

.informationsProfilCard{
    background-color: yellowgreen;
    width: 75%;
    height: 100%;
    padding: 2em;
}

.profilPhoto{
    background-color: blueviolet;
    width: 100%;
    height: 25%;
    margin-bottom: 1em;
}

.pseudo{
    background-color: blue;
    width: 100%;
    height: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.birthdayDate{
    background-color: green;
    width: 100%;
    height: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.description{
    background-color: yellow;
    width: 100%;
    height: 25%;
    margin-top: 1em;
}

.nameAndGender{
    background-color: cadetblue;
    width: 100%;
    height: 20%;
    margin-bottom: 1em;
}

.adress{
    background-color: burlywood;
    width: 100%;
    height: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.zipCodeAndCity{
    background-color: orchid;
    width: 100%;
    height: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}

 .mail{
    background-color: white;
    width: 100%;
    height: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}
 .phoneNumerAndChangePassword{
    background-color: black;
    width: 100%;
    height: 20%;
    margin-top: 1em;
}