<div class="global">
    <h1>Liste des champions de LOL : </h1>
    <div class="searchBox">
        <h2>Rechercher par : </h2>
        <div class="search">
            <form (ngSubmit)="searchByName(name)" #name="ngForm">
                <input type="text" name="searchName" autocomplete="off" placeholder="Veuillez Saisir un nom" ngModel required>
                <button type="submit"><img src="../assets/images/logos/rechercher.png"></button>
            </form>
            <form (ngSubmit)="searchByPrice(price)" #price="ngForm">
                <input type="number" name="price1" placeholder="min" autocomplete="off" ngModel required>
                &nbsp;
                <input type="number" name="price2" placeholder="max" autocomplete="off" ngModel required>
                <button type="submit"><img src="../assets/images/logos/rechercher.png"></button>
            </form>
            <div class="filter">
                <label>
                    <p>Ordre a_Z</p>
                    <input type="radio" name="type" (click)="searchByAsc()">
                </label>
                <label>
                    <p>Ordre Z_a</p>
                    <input type="radio" name="type" (click)="searchBydesc()">
                </label>
                <label>
                    <p>Prix Asc</p>
                    <input type="radio" name="type" (click)="searchByPriceAsc()">
                </label>
                <label>
                    <p>Prix Desc</p>
                    <input type="radio" name="type" (click)="searchByPriceDesc()">
                </label>
                <label>
                    <p>Mage</p>
                    <input type="radio" name="type" (click)="searchByMage()">
                </label>
                <label>
                    <p>Combattant</p>
                    <input type="radio" name="type" (click)="searchByFighter()">
                </label>
                <label>
                    <p>Assassin</p>
                    <input type="radio" name="type" (click)="searchByAssassin()">
                </label>
                <label>
                    <p>Tank</p>
                    <input type="radio" name="type" (click)="searchByTank()">
                </label>
                <label>
                    <p>Support</p>
                    <input type="radio" name="type" (click)="searchBySupport()">
                </label>
                <label>
                    <p>Tireur</p>
                    <input type="radio" name="type" (click)="searchByShooter()">
                </label>
            </div>
        </div>
    </div>
    <div class="cardGlobal">
        <div *ngFor="let product of products">
            <div class="card">
                <img src="{{product.image}}">
                <div class="details">
                    <h2>{{product.name}}</h2>
                    <h3>{{product.type}}</h3>
                    <p>{{product.lore}}</p>
                </div>
                <div class="price">
                    <h3>{{product.price}} RP</h3>
                    <h3>{{product.available}}</h3>
                </div>
                <button>Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>