* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.global {
    display: flex;
    justify-content: top;
    margin-top: 1em;
    align-items: center;
    /* min-height: 100vh; */
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    color: #45f3ff;
    letter-spacing: 0.1em;
    font-weight: 500;
}

h2 {
    margin-top: 0.5em;
}

.searchglobal {
    position: relative;
    margin-top: 1em;
    width: 80vw;
    height: 150px;
    background: #28292d;
    border: 2px solid #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

form {
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: row;
    gap: 2em;
}

.inputName {
    position: relative;
    width: 200px;
}

.inputPrice {
    position: relative;
    width: 100px;
}

.inputName input, .inputPrice input{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputName span, .inputPrice span {
    position: absolute;
    left: 0;
    padding: 15px 0px 0px;
    pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.inputName input:valid ~ span,
.inputName input:focus ~ span {
	color: #45f3ff;
	transform: translateX(0px) translateY(-20px);
	font-size: 0.75em;
}

.inputPrice input:valid ~ span,
.inputPrice input:focus ~ span {
	color: orange;
	transform: translateX(0px) translateY(-20px);
	font-size: 0.75em;
}

.inputName i, .inputPrice i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputName input:valid ~ i,
.inputName input:focus ~ i {
	height: 30px;
	background: #45f3ff;
}

.inputPrice input:valid ~ i,
.inputPrice input:focus ~ i {
	height: 30px;
	background: orange;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.type {
	margin-bottom: 35px;
	color: #8f8f8f;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  
	border-radius: 5px;
	width: 24px;
	height: 24px;
	border: 2px solid #45f3ff;
	transition: 0.2s all linear;
	cursor: pointer;
}

input[type="radio"]:checked {
	background-color: #ff7b00;
}
