<div class="global">
    <h1>Liste des champions de LOL : </h1>
    <div class="searchglobal">
        <form>
            <h2>Rechercher par : </h2>
            <div class="inputName">
                <input autocomplete="off" type="text" name="name" required>
                <span> Veuillez saisir un nom </span>
                <i></i>
            </div>
            <div class="inputPrice">
                <input autocomplete="off" type="number" name="min" required>
                <span> Min </span>
                <i></i>
            </div>
            <div class="inputPrice">
                <input autocomplete="off" type="number" name="max" required>
                <span> Max </span>
                <i></i>
            </div>
            <div class="type">
                <label>
                    <p>Ordre Alpha</p>
                    <input type="radio" name="type" value="Tireur" ngModel required>
                </label>
                <label>
                    <p>Ordre DéAlpha</p>
                    <input type="radio" name="type" value="Tireur" ngModel required>
                </label>
                <label>
                    <p>Prix croissant</p>
                    <input type="radio" name="type" value="Tireur" ngModel required>
                </label>
                <label>
                    <p>Prix décroissant</p>
                    <input type="radio" name="type" value="Tireur" ngModel required>
                </label>
                <label>
                    <p>Mage</p>
                    <input type="radio" name="type" value="Mage" ngModel required>
                </label>
                <label>
                    <p>Combattant</p>
                    <input type="radio" name="type" value="Combattant" ngModel required>
                </label>
                <label>
                    <p>Assassin</p>
                    <input type="radio" name="type" value="Assassin" ngModel required>
                </label>
                <label>
                    <p>Tank</p>
                    <input type="radio" name="type" value="Tank" ngModel required>
                </label>
                <label>
                    <p>Support</p>
                    <input type="radio" name="type" value="Support" ngModel required>
                </label>
                <label>
                    <p>Tireur</p>
                    <input type="radio" name="type" value="Tireur" ngModel required>
                </label>
            </div>
        </form>
    </div>
</div>
