<mat-drawer-container class="sidenav">
    <mat-drawer mode="side" opened class="sidebar">
        <ul>
            <hr class="lineseparator">
            <li> 
                <button (click)="displayProfil()" [ngClass]="{'buttonAnimate' : isDisplayProfil}">
                 <img src="../assets/images/logos/profil.png"><p>Profil</p></button> 
            </li>
            <li>
                 <button (click)="displayMyReservation()" [ngClass]="{'buttonAnimate' : isDisplayMyReservation}">
                  <img src="../assets/images/logos/myreservation.png"><p>Mes commandes</p></button> 
            </li>
            <li>
                 <button (click)="displaySupport()" [ngClass]="{'buttonAnimate' : isDisplaySupport}">
                  <img src="../assets/images/logos/support.png"><p>Support</p></button> 
            </li>
            <hr class="lineseparator">                                                  
            <li *ngIf="isAdmin">
                 <button (click)="displayAdmin()" [ngClass]="{'buttonAnimate' : isDisplayAdmin}">
                  <img src="../assets/images/logos/admin.png"><p>Pannel admin</p></button> 
            </li>
            <li *ngIf="isAdmin">
                 <button (click)="displayAddProduct()" [ngClass]="{'buttonAnimate' : isDisplayAddProduct}">
                  <img src="../assets/images/logos/addproduct.png"><p>Ajouter un Produit</p></button> 
            </li>
            <li *ngIf="isAdmin">
                 <button (click)="displayUsers()" [ngClass]="{'buttonAnimate' : isDisplayUsers}">
                  <img src="../assets/images/logos/users.png"><p>Utilisateurs</p></button>
            </li>
            <li *ngIf="isAdmin"> 
                <button (click)="displayReservation()" [ngClass]="{'buttonAnimate' : isDisplayReservation}">
                 <img src="../assets/images/logos/reservation.png"><p>Commandes</p></button>
            </li>
            <hr class="lineseparator" *ngIf="isAdmin">
        </ul>
    </mat-drawer>
    <mat-drawer-content class="content">
        <app-profil *ngIf="isDisplayProfil"></app-profil>
        <app-my-reservation *ngIf="isDisplayMyReservation"></app-my-reservation>
        <app-support *ngIf="isDisplaySupport"></app-support>
        <app-adminboard *ngIf="isDisplayAdmin"></app-adminboard>
        <app-add-product *ngIf="isDisplayAddProduct"></app-add-product>
        <app-users *ngIf="isDisplayUsers"></app-users>
        <app-reservation *ngIf="isDisplayReservation"></app-reservation>
    </mat-drawer-content>
</mat-drawer-container>
