<mat-drawer-container class="sidenav">
    <mat-drawer mode="side" opened class="sidebar">
        <ul>
            <hr class="lineseparator">
            <li> <button (click)="displayProfil()" [ngClass]="{'buttonAnimate' : isDisplayProfil}">Profil</button> </li>
            <li> <button (click)="displayMyReservation()" [ngClass]="{'buttonAnimate' : isDisplayMyReservation}">Mes commandes</button> </li>
            <li> <button (click)="displaySupport()" [ngClass]="{'buttonAnimate' : isDisplaySupport}">Support</button> </li>
            <hr class="lineseparator">                                                  
            <li> <button (click)="displayAdmin()" [ngClass]="{'buttonAnimate' : isDisplayAdmin}">Pannel admin</button> </li>
            <li> <button (click)="displayAddProduct()" [ngClass]="{'buttonAnimate' : isDisplayAddProduct}">Ajouter un Produit</button> </li>
            <li> <button (click)="displayUsers()" [ngClass]="{'buttonAnimate' : isDisplayUsers}">Utilisateurs</button> </li>
            <li> <button (click)="displayReservation()" [ngClass]="{'buttonAnimate' : isDisplayReservation}">Commandes</button> </li>
            <hr class="lineseparator">
        </ul>
    </mat-drawer>
    <mat-drawer-content class="content">
        <app-profil *ngIf="isDisplayProfil"></app-profil>
        <app-my-reservation *ngIf="isDisplayMyReservation"></app-my-reservation>
        <app-support *ngIf="isDisplaySupport"></app-support>
        <app-adminboard *ngIf="isDisplayAdmin"></app-adminboard>
        <app-add-product *ngIf="isDisplayAddProduct"></app-add-product>
        <app-users *ngIf="isDisplayUsers"></app-users>
        <app-reservation *ngIf="isDisplayReservation"></app-reservation>
    </mat-drawer-content>
</mat-drawer-container>
