.generalCard{
    margin-right: 5em;
    margin-left: 5em;
    border: 2px solid black;
    border-radius: 4px;
    color: #45f3ff;
    background: #28292d;
}

.navBarCard{
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    margin: 1em;
}

.boardTitle{
    margin-left: auto;
    margin-right: auto;
    color: #ff7b00;
    padding: 0.5em;
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

button {
    background-color:#45f3ff ;
    border-radius: 4px;
    margin-right: 0.5em;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.table {
   margin: 2em;
}
    
.tableParent {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 0.5fr 1.5fr 2fr 3fr 0.5fr 2fr;
    margin-bottom: 0.25em;
    margin-top: 0.25em
}
    
.cellulesHeader {
    height: 1em;
    font-size: 1em;
    padding: 1em;
    color: #45f3ff;
    border-bottom: 2px solid #bbb;
    border-radius: 4px;
    
}

.cellules {
    height: 1em;
    font-size: 1em;
    padding: 1em;
    color: white;
    border-bottom: 2px solid #bbb;
    border-radius: 4px;
}
 
img:hover {
    cursor: pointer;
}

.delete {
    margin-left: 1em;
}

.modale{
    position: fixed;
    top: 18%;
    left: 35%;
    z-index: 999;
    overflow: auto;
}