<div class="generalCard">
    <div class="navBarCard">
        <button (click)="getAllUserNotValidate()">Utilisateurs non validé</button>
        <button (click)="getAllUserValidate()">Utilisateurs validé</button>
        <h3 class="boardTitle" *ngIf="text"></h3>
        <h3 class="boardTitle" *ngIf="validate && !text">Utilisateurs confirmés</h3>
        <h3 class="boardTitle" *ngIf="!validate && !text">Utilisateurs non validé</h3>
    </div>
    <div class="table">
        <div class="tableParent">
            <div class="cellulesHeader">ID</div>
            <div class="cellulesHeader">Pseudo</div>
            <div class="cellulesHeader">Mot de passe</div>
            <div class="cellulesHeader">E-mail</div>
            <div class="cellulesHeader">Role</div>
            <div class="cellulesHeader">Actions</div>
        </div>
        <div *ngIf="validate">
            <div *ngFor="let User of usersValidate" class="tableParent">
                <div class="cellules"> {{User.id}} </div>
                <div class="cellules"> {{User.name}} </div>
                <div class="cellules"> {{User.password}} </div>
                <div class="cellules"> {{User.mail}} </div>
                <div class="cellules"> {{User.role}} </div>
                <div class="cellules">
                    <img src="../assets/images/logos/remove.png" (click)="deleteUsers(User)" class="delete">
                </div>
            </div>
        </div>
        <div *ngIf="!validate">
            <div *ngFor="let User of usersNotValidate" class="tableParent">
                <div class="cellules"> {{User.id}} </div>
                <div class="cellules"> {{User.name}} </div>
                <div class="cellules"> {{User.password}} </div>
                <div class="cellules"> {{User.mail}} </div>
                <div class="cellules"> {{User.role}} </div>
                <div class="cellules">
                    <img src="../assets/images/logos/verifie.png" class="validation" (click)="userValidateByAdmin(User)">
                    <img src="../assets/images/logos/remove.png" (click)="deleteUsers(User)" class="delete">
                </div>
            </div>
        </div>
    
    </div>
    
</div>
