<div class="generalCard">
    <div class="navBarCard">
        <button (click)="getAllUserValidate()">Validate</button>
        <button (click)="getAllUserNotValidate()">Not Validate</button>
        <button (click)="getAllUsers()">All</button>
        <h3 class="boardTitle">Validate Users</h3>
        <!-- <h3 class="boardTitle">Not Validate Users</h3> -->
    </div>
    <div class="table">
        <div class="tableParent">
            <div class="cellulesHeader">ID</div>
            <div class="cellulesHeader">Name</div>
            <div class="cellulesHeader">Password</div>
            <div class="cellulesHeader">Mail</div>
            <div class="cellulesHeader">Role</div>
            <div class="cellulesHeader">Actions</div>
        </div>
        <div *ngIf="validate && !all">
            <div *ngFor="let User of usersValidate" class="tableParent">
                <div class="cellules"> {{User.id}} </div>
                <div class="cellules"> {{User.name}} </div>
                <div class="cellules"> {{User.password}} </div>
                <div class="cellules"> {{User.mail}} </div>
                <div class="cellules"> {{User.role}} </div>
                <div class="cellules">Actions</div>
            </div>
        </div>

        <div *ngIf="!validate && !all">
            <div *ngFor="let User of usersNotValidate" class="tableParent">
                <div class="cellules"> {{User.id}} </div>
                <div class="cellules"> {{User.name}} </div>
                <div class="cellules"> {{User.password}} </div>
                <div class="cellules"> {{User.mail}} </div>
                <div class="cellules"> {{User.role}} </div>
                <div class="cellules">Actions</div>
            </div>
        </div>
        <div *ngIf="all">
            <div *ngFor="let User of users" class="tableParent">
                <div class="cellules"> {{User.id}} </div>
                <div class="cellules"> {{User.name}} </div>
                <div class="cellules"> {{User.password}} </div>
                <div class="cellules"> {{User.mail}} </div>
                <div class="cellules"> {{User.role}} </div>
                <div class="cellules">Actions</div>
            </div>
        </div>
    </div>
    
</div>
