<div class="body">
    <div class="box">
        <form (ngSubmit)="login(user)" #user="ngForm" autocomplete="off">
            <h2>Connexion</h2>
            <div class="inputBox">
                <input name="name" type="text" ngModel required>
                <span>Pseudo</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input name="password" type="password" ngModel required>
                <span>Mot de passe</span>
                <i></i>
            </div>
            <div class="links">
                <a>Mot de passe oublié ?</a>
                <a routerLink="register">S'inscrire</a>
            </div>
            <input type="submit" value="Se Connecter">
        </form>
    </div>
</div>
