<div class="global">
    <h1>Liste des personnages de lol : </h1>
    <div class="search">
    </div>
    <div class="cardGlobal">
        <div *ngFor="let product of products">
            <div class="card">
                <img src="{{product.image}}">
                <div class="secondcard">
                    <h2>{{product.name}}</h2>
                    <h3 class="nomType">{{product.type}}</h3>
                    <p>{{product.lore}}</p>
                </div>
                <div class="price">
                    <h3>{{product.price}} RP</h3>
                    <h3 [ngClass]="{'available-true' : product.available === true, 'available-false' : product.available === false}">{{product.available}}</h3>
                </div>
                <button class="but">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>