.global {
    /* background-color: white; */
    margin: 2rem;
    height: 100%;
    padding: 1rem;
}

.cardGlobal {
    /* background-color: red; */
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: auto;
}   

.card {
    /* background-color: purple; */
    color: chocolate;
    text-align: center;
    margin: 1rem;
    
} 

.secondcard {
    border: 1px solid white;
    background-color: bisque;
    border-width: 5px;
    opacity: 0.7;
    
}

h1, h3, p {
    text-align: center;
    margin-top: 1rem;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    color: aqua;
    text-underline-offset: 10px;
}

h2 {
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.nomType {
    font-style: italic;
    font-size: x-large;
    font-weight: 900;
    color: black;
}
.price {
    display: flex;
    justify-content: space-between;
    color:blueviolet;
    border: 10px;
    border-color: blue;
    background-color: burlywood;
    padding: 1rem;
}

.available-true {
    color: lime;
}

.available-false {
    color: red;
}
.but {
    border: 1px solid lime;
    border-color: brown;
    background-color: brown;
    border-style: ridge;
    width: 100%;
    padding: 5%;
    font-size: large;
    font-weight: bold;
}
.but:hover {
    cursor: pointer;
    box-shadow: -1px 1px 20px 1px lightblue;
    background-color: lightgreen;
}

img {
    width: 100%;
    
}
