html, body {
    margin: 0;
    padding: 0;
    background-color: #25273E;
}

button {
    background: none;
    border: none;
}

ul {
    list-style: none;
}

input{
    border: none;
    outline: none;
    background: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
