<div class="register">
    <h1>Inscription</h1>
    <form>
        <div>
            <input type="text" placeholder="Pseudo" name="Pseudo">
        </div>

        <div>
            <input type="password" placeholder="Mot de passe" name="password">
        </div>

        <div>
            <input type="password" placeholder="Vérification mot de passe" name="password">
        </div>

        <div>
            <input type="email" placeholder="Adresse email" name="email">
        </div>

        <div>
            <label for="checkbox" class="checkbox">
                <span class="checkbox-change">
                    <input type="checkbox" name="validate" id="checkbox">
                    <span class="checkbox-change-content">
                        <span class="on">OUI</span>
					    <span class="interm"></span>
					    <span class="off">NON</span>
                    </span>
			    </span>

            
                 Veuillez accepter les conditions générales d'utilisation (CGU).
            </label>
        </div>

        <div>
            <button type="submit">Inscription</button>
        </div>

        <div>
            <p>Déjà inscrit ? <a routerLink="/login">Identifie toi !</a></p>
        </div>

    </form>

</div>