<div class="login">
    <h1>Inscription</h1>
    <form>
        <div>
            <input type="text" placeholder="Pseudo" name="Pseudo">
        </div>

        <div>
            <input type="password" placeholder="Mot de passe" name="password">
        </div>

        <div>
            <input type="password" placeholder="Vérification mot de passe" name="password">
        </div>

        <div>
             <input type="checkbox"> Veuillez accepter les conditions générales d'utilisation (CGU).
        </div>

        <div> 
            <input type="checkbox"> Je souhaite m'inscrire à la Newsletter.
        </div>

        <div>
            <button type="submit">Inscription</button>
        </div>

        <div>
            <p>Déjà inscrit ? <a routerLink="/login">Identifie toi !</a></p>
        </div>

    </form>

</div>